Body{ 
    background-image: url("https://i.pinimg.com/564x/9d/48/bd/9d48bd8ddc5ccb6e8121805696964438.jpg");
    background-position: 0px 65px;
    background-repeat: no-repeat;
    background-size: cover;
  
    }
    
  .box{
    background: #D3D3D3;
    padding: 10px;
    margin: 50px;
  }
  .text1{
    color: #000099;
    text-shadow: 2px 1px #666699;
      font-family: 'Muli';
      }
      .text2{
    color: #000099;
      font-family: 'Muli';
  font-size:1.2em;
      }
  

  .center {
   text-align: center
  }
  .center-img {
    display: block;
  
    margin-right: auto;
    margin-left: auto;
  
    max-width: 100%;
  }
  
  
  
  